
.header {
    background-color: #525FE1; 
    padding: 1.5rem 1rem;
}

.nav-list {
    display: flex;
    gap: 1rem;
}

.nav-list a {
    font-size: 1.1rem;
}

.container-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.title-header {
    font-size: 1.7rem;
}

/* .nav-list {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav-list a {
    font-size: 1.1rem;
} */


