
.header {
    background-color: #525FE1; 
    padding: 1.5rem 1rem;
}

.nav-list {
    display: flex;
    gap: 1rem;
}

.nav-list a {
    font-size: 1.1rem;
}

.container-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.title-header {
    font-size: 1.7rem;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    .nav-list a {
        font-size: .9rem;
    }

    .title-header {
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 425px) and (max-width: 480px) {
    .nav-list a {
        font-size: 1rem;
    }

    .title-header {
        font-size: 1.3rem;
    }
}

