.mat-tab-group {
    padding: 1rem;
}

i {
    color: #333;
    font-size: 1.11rem;
}

.container-card {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: flex-start;
    padding: 2%;

}

.card {
    margin: 10px;
    width: 300px;
}

.title-job {
    font-size: 1.11rem;
    font-weight: 500;
    color: #333;
}

.title-job:hover {
    color: #44749e; 
    font-style: italic; 
}

.company {
    background-color: orange;
    padding: .25rem .7rem;
    font-size: 1rem;
    border-radius: 3px;
    color: #0a0a0a;
}

.company-webSite {
    background-color: #525FE1;
    padding: .25rem .7rem;
    font-size: 1rem;
    border-radius: 3px;
    color: #161616;
}

.date {
    background-color: #09b1ff;
    padding: .15rem .3rem;
    color: #161616;
}


.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.grid-icon {
    display: flex;
    align-items: center;
    gap: 5px;
}

.del-btn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    color: #333;
    font-size: 1.2rem;
}

.edit {
    cursor: pointer;
    color: #333;
}



@media screen and (min-width: 320px) and (max-width: 480px) {
    .container-card {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        align-items: center;

    }

    .card {
        width: 100%;
    }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
    .container-card {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .card {
        width: 100%;
    
    }

    .title-job {
        font-size: .8rem;
    }

    .del-btn {
        font-size: 1.3rem;
    }

    .company {
        padding: .15rem .5rem ;
        font-size: .8rem;
       
    }
    
    .company-webSite {
        padding: .15rem .5rem ;
        font-size: .8rem;
       
    }
    
    .date {
        padding: .15rem .5rem ;
        font-size: .8rem;
 
    }

}

@media screen and (min-width: 580px) and (max-width: 767px) {

    .title-job {
        font-size: 1rem;
    }

    .del-btn {
        font-size: 1.3rem;
    }

    .company {
        padding: .25rem .7rem ;
        font-size: 1rem;
       
    }
    
    .company-webSite {
        padding: .25rem .7rem ;
        font-size: 1rem;
       
    }
    
    .date {
        padding: .25rem .7rem ;
        font-size: 1rem;
       
    }


}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .container-card {
        grid-template-columns: repeat(3,1fr);
        gap: 1rem;
    }

    .card {
        width: 100%;
    }
    
}

@media screen and (min-width: 992px) and (max-width: 1110px) {
    .container-card {
        grid-template-columns: repeat(3,1fr);
        gap: 1rem;
    }

    .card {
        width: 100%;
    }
    
}