h2 {
    text-align: center;
    padding: 0 1rem;
    font-size: 1.4rem;
    margin: 1rem 0 0 ;
}


.color-title {
    color: #525FE1;
    margin-top: 0;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.2rem;
    margin: 0;
}

span {
    font-size: 1.1rem;
}

.material-icons {
    color: #161616;
}


.container-card {
    padding: 1rem;
    width: 100%;

}

.card {
    width: 100%;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

}

.title-job {
    font-size: 1.11rem;
    color: #333;
    font-weight: 500;
}

.company {
    background-color: orange;
    padding: .25rem .7rem;
    font-size: 1rem;
    border-radius: 3px;
    color: #0a0a0a;
}

.company-webSite {
    background-color: #525FE1;
    padding: .25rem .7rem;
    font-size: 1rem;
    border-radius: 3px;
    color: #161616;
}

.date {
    background-color: #09b1ff;
    padding: .15rem .3rem;
    color: #161616;
}

.stage {
    padding: .15rem .3rem;
    color: #161616;
    background-color: #1de750;
    border-radius: 4px;
}

.stage-finally {
    background-color: #f33444;
}


.grid-icon {
    display: flex;
    align-items: center;
    gap: 5px;
}


.del {
    color: #161616;
    font-size: 1.1rem;
    cursor: pointer;
}
.del-btn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.url a {
    color: #0494d6;
    font-size: 1rem;
    text-decoration: underline;
}

.edit {
    cursor: pointer;
    color: #161616;
    font-size: 1.1rem;
}

.link-empty a {
    color: #333;
    text-decoration: none;
    pointer-events: none;
}


@media screen and (max-width: 480px) {

    .title{
        font-size: 1rem;
    }

    .color-title {
        font-size: 1rem;
    }

    h3 {
        font-size: 1rem;
    }

    .title-job {
        font-size: 1rem;
    }

    .group {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        border-bottom: 1px solid #333;
    }

    .company{
        padding: .03rem .5rem;
        font-size: .9rem;
    }

    .date {
        padding: .03rem .5rem;
        font-size: 1rem;
    }

    .company-webSite {
        padding: .03rem .5rem;
        font-size: .9rem;
    }

    .stage {
        padding: .03rem .5rem;
        font-size: .9rem;
    }

    .grid-icon {
        margin-top: .5rem;
        font-size: .85rem;
    }
   
}

@media screen and (min-width: 481px) and (max-width: 600px) {

    h3 {
        font-size: .9rem;
    }


    .title-job {
        font-size: .8rem;
    }

    .url a {
        font-size: .8rem;
    }

    .del-btn {
        font-size: 1.3rem;
    }

    .company {
        font-size: .8rem;
    }
    
    .company-webSite {
        font-size: .8rem;
    }
    
    .date {
        font-size: .8rem;
    }

    .stage {
        font-size: 1rem;
    }

}